div{margin:0;padding:0;}
p {float:left;width:100%;margin:0;text-align:left;}
canvas#Graph{text-align:left;}
#Error{		float:left;		width:95%;	height:20px;	position:absolute;	text-align:right;	font-size:75%;}
